name: githubaction

on:
  push:
    branches:
      - main

jobs:
  jobs-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print message
        run: echo "welcome to my world"
 
